.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-icon-dark.svg);
  border: none;
  width: 23px;
  height: 20px;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/liked-button.svg);
opacity: 1;
}

.card__like-button_liked:hover {
background-image: url(../images/liked-button-hover.svg);
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  background-image: url(../images/trash-icon-default.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}
  .card__delete-button:hover {
background-image: url(../images/trash-icon-hover.svg);
  }

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
